# Beispielkonfiguration
role: server+bootstrap
peers: []
volume:
  name: gv0
  type: replicate
  replica: 2
  transport: tcp
  bricks:
    - 10.0.0.1:/bricks/brick1/gv0
    - 10.0.0.2:/bricks/brick1/gv0
  options:
    performance.client-io-threads: "on"

# Für client:
# role: client
# mounts:
#   - remote: "10.0.0.1:gv0"
#     target: "/mnt/gluster"
#     opts: "defaults,_netdev"
